argon2-cffi==18.1.0
bcrypt==3.1.4
certifi==2018.4.16
cffi==1.11.5
dj-database-url==0.5.0
Django==1.11.10
django-bootstrap3==10.0.1
django-braces==1.13.0
django-debug-toolbar==1.9.1
django-heroku==0.3.1
Faker==0.8.15
gunicorn==19.8.1
Pillow==5.1.0
pipenv==2018.6.25
psycopg2==2.7.5
pycparser==2.18
python-dateutil==2.7.3
pytz==2018.4
six==1.11.0
sqlparse==0.2.4
text-unidecode==1.2
virtualenv==16.0.0
virtualenv-clone==0.3.0
whitenoise==3.3.1
wincertstore==0.2
